<% provide(:title, t("static_pages.help.title")) %>
<h1><%= t("static_pages.help.title")%></h1>
<p>
  <%= t("static_pages.help.Get")%>
  <a href="http://www.railstutorial.org/help"><%= t("static_pages.help.Rails")%></a>.
  <%= t("static_pages.help.To")%>
  <a href="http://www.railstutorial.org/book"><em> <%= t("static_pages.help.Ruby")%></em>
 </a>.
</p>
