<footer class="footer">
  <small>
    <%= t("static_pages.footer.the") %> <a href="http://www.railstutorial.org/"><%= t("static_pages.footer.ruby") %></a>
     <%= t("static_pages.footer.by") %> <a href="http://www.michaelhartl.com/">
     <%= t("static_pages.footer.michael") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("static_pages.footer.news") %></a></li>
    </ul>
  </nav>
</footer>
